.h1 {
    font-size: 61px;
    font-weight: 700;
    font-family: "Inter_bold";
}

.add-task-content {
    margin-top: calc(206px - 96px);
    font-family: "Inter";
}

.task-details {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-form input {
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
}

.input-form label {
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
}

.seperator {
    width: 1px;
    background-color: #D1D1D1;
    margin: 0px 5%;
}

.priority-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    gap: 8px;
    padding: 16px 10px;
    border-radius: 10px;
    border: solid 1px;
    border-color: #D1D1D1;
    background-color: white;
    flex: 1;
}

.priority-button:hover {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .2);
}

.priority-section {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.bg-red {
    background-color: #ff3d00;
    color: white;
}

.bg-red img {
    filter: saturate(0) brightness(100);
}

.bg-yellow {
    background-color: #FFA800;
    color: white;
}

.yellow-filter img {
    filter: brightness(0) saturate(100%) invert(74%) sepia(61%) saturate(3093%) hue-rotate(357deg) brightness(98%) contrast(110%);
}

.bg-green {
    background-color: #7AE229;
    color: white;
}

.bg-green img {
    filter: saturate(0) brightness(100);
}

.task-input {
    border: solid 1px;
    border-radius: 10px;
    border-color: #D1D1D1;
    padding: 12px 21px;
    font-family: "Inter";
}

.task-input ::placeholder {
    opacity: 1;
    color: #D1D1D1;
}

.required {
    color: #ff3d00;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    line-height: 120%;
    border-radius: 10px;
    gap: 4px;
    font-family: "Inter";
    padding: 10px;
    border: solid 1px;
    border-color: #2A3647;
}

.action-button-section {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.task-detail-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
}

.create-button {
    background-color: #2A3647;
    color: white;
}

.create-task :hover {
    background-color: #29ABE2;
    border-color: #29ABE2;
}

.clear-button :hover {
    border-color: #29ABE2;
    color: #29ABE2;
}

.description {
    flex: 1;
    font-size: 20px;
    line-height: 120%;
    font-family: "Inter";
}

.select-input {
    padding: 12px 16px;
    border: solid 1px;
    border-radius: 10px;
    border-color: #D1D1D1;
    font-size: 20px;
    line-height: 120%;
}

.button-section {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.required-text {
    font-size: 20px;
    line-height: 120%;
}