@font-face {
    font-family: "Inter";
    src: url(../assets/fonts/inter/Inter_18pt-Regular.ttf);
}

.h1 {
    font-size: 61px;
    font-weight: 700;
}

.add-task-content {
    margin-top: calc(206px - 96px);
    font-family: "Inter";
}

.task-details {
    display: flex;
    justify-content: space-between;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-form input {
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
}

.input-form label {
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
}

.seperator {
    width: 1px;
    background-color: #D1D1D1;
    margin: 0px 5%;
}

.priority-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    gap: 8px;
    padding: 16px 10px;
    border-radius: 10px;
    border: none
}

.priority-section {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.bg-red {
    background-color: #ff3d00;
    color: white;
}

.bg-yellow {
    background-color: #FFA800;
    color: white;
}

.bg-green {
    background-color: #7AE229;
    color: white;
}

.task-input {
    border: solid 1px;
    border-radius: 10px;
    border-color: #D1D1D1;
    padding: 12px 21px;
}

.required {
    color: #ff3d00;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    line-height: 120%;
    border-radius: 10px;
    gap: 4px;
    font-family: "Inter";
    padding: 10px;
}

.action-button-section {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 64px;
}

.task-detail-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
}

.create-button {
    background-color: #2A3647;
    color: white;
}

.description-input {
    flex: 1;
}