.h1 {
    font-size: 61px;
    font-weight: 700;
}

.add-task-content {
    margin-top: calc(206px - 96px);
}

.task-details {
    display: flex;
    justify-content: space-between;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-form input {
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
}

.input-form label {
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
}

.seperator {
    width: 1px;
    background-color: #D1D1D1;
}

.priority-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    gap: 8px;
    padding: 16px 10px;
    border-radius: 10px;
    border: none
}

.priority-section {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.bg-red {
    background-color: #ff3d00;
    color: white;
}

.bg-yellow {
    background-color: #FFA800;
    color: white;
}

.bg-green {
    background-color: #7AE229;
    color: white;
}

.task-input {
    border: solid 1px;
    border-radius: 10px;
    border-color: #D1D1D1;
    padding: 12px 21px;
}

.required {
    color: #ff3d00;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    line-height: 120%;
}

.action-button-section {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}