@media (max-width: 1000px) {
    .task-details {
        flex-direction: column;
    }

    .seperator {
        display: none;
    }

    .header-nav {
        padding-left: 48px;
    }
}

@media (max-width: 767px) {
    .header-nav p {
        display: none;
    }

    .header-nav {
        justify-content: flex-end;
    }

    .body {
        flex-direction: column-reverse;
    }

    .logo-section {
        display: none;
    }

    .sidebar-nav {
        justify-content: space-evenly;
        flex-direction: row;
        gap: 0px;
    }

    .sidebar-nav-section {
        flex-direction: column;
        flex: 1;
    }

    .sidebar-footer {
        display: none;
    }
}