@media (max-width: 1000px) {
    .task-details {
        flex-direction: column;
    }

    .seperator {
        display: none;
    }

    .header-nav {
        padding-left: 48px;
    }
}

@media (max-width: 767px) {
    .header-nav p {
        display: none;
    }

    .header-nav {
        justify-content: flex-end;
    }
}