.board_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1400px;
}

.board_menu{
    display: flex;
    height: 232px;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter_bold";
}

.board_controls{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-right: 24px;
}

.table_header{
    display: flex;
    gap: 24px;
}

.column_title{
    font-size: 20px;
    font-weight: 700;
    color: #42526E
}

.table_header .column_header{
    display: flex;
    align-items: center;
    width: calc(100% / 4);
    justify-content: space-between;
}

h1{
    font-size: 61px;
    font-weight: 700;
}

.search_task{
    border: 1px solid;
    border-color: #A8A8A8;
    border-radius: 10px;
    padding: 8px 16px;
    display: flex;
    gap: 10px;
    background-color: white;
}

.search_task:has(input:focus) {
    border-color: #29ABE2;
}

.search_task input{
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    width: 200px;
    font-family: "Inter";
    border-right: 1px solid #A8A8A8;
}

.search_task input::placeholder {
    color: #D1D1D1;
}

.search_task button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button_add_task{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2A3647;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
    color:white;
    font-family: "Inter_bold";
    font-size: 21px;
}

.button_add_task:hover{
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.table_header .column_header button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.board_table{
    display: flex;
    gap: 24px;
}

.board_table .column_content{
    min-height: 500px;
    width: calc(100% / 4);
    margin-top: 8px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.no_task_yet{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    color: #A8A8A8;
    font-size: 16px;
    font-family: "Inter";
    border: 1px dashed #A8A8A8;
    background-color: #E7E7E7;
    border-radius: 10px;
}

.subtask_status_bar {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 8px;
    width: 100%;
}

.subtask_status_bar_bg {
    display: flex;
    flex: 1;
    height: 8px;
    background: #d1d1d1;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.subtask_status_bar_fill {
    height: 100%;
    background: #29ABE2;
    border-radius: 4px 0 0 4px;
    transition: width 0.3s;
}
.subtask_status_bar_text {
    font-size: 14px;
    color: #42526E;
}

.single_task_content{
    background-color: white;
    border-radius: 24px;
    padding: 16px;
    cursor: grab;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.single_task_content .category{
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: #0038FF;
    font-family: "Inter";
    padding: 4px 16px;
    border-radius: 8px;
}

.single_task_content h3{
    font-size: 16px;
    font-weight: 700;
    margin: 16px 0px 8px 0px;
    font-family: "Inter_bold";
}

.single_task_content p{
    font-size: 16px;
    font-weight: 400;
    color: #A8A8A8;
    font-family: "Inter";
}

.single_task_content .subtask_status_bar .subtask_info{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-family: "Inter";
}

.single_task_content .subtask_status_bar .subtask_info p{
    color: black
}
.assigned_user_avatar{
    width:32px;
    height:32px;
    color:#fff;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight: 400;
    font-size:16px;
    font-family: "Inter";
}

.assigned_users_section_and_priority{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 16px;
}

.assigned_users_section_and_priority .assigned_users{
    display: flex;
    position: relative;
}

.assigned_user_avatar {
    margin-left: -12px;
    border: 2px solid #fff;
    z-index: 1;
}
.assigned_user_avatar:first-child {
    margin-left: 0; 
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
}

.overlay.show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.overlay_content {
    padding: 48px 40px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(200%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

    max-width: 500px;
    min-height: 600px;
    max-height: 900px;
    background-color: white;
    border-radius: 30px;
    z-index: 1000;

    font-family: "Inter_Bold";

    display: flex;
    gap: 24px;
    flex-direction: column;
}

.overlay_content.show {
    opacity: 1;
    transform: translateX(0);
}

.overlay_content .overlay_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay_content .overlay_header .category_overlay {
    font-size: 23px;
    font-weight: 400;
    color: white;
    background-color: #0038FF;
    font-family: "Inter";
    padding: 4px 24px;
    border-radius: 8px;
}

.overlay_content .overlay_header .close_overlay_button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0px;
}

.overlay_content p{
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}

.overlay_content .due_date_info .attribute,
.overlay_content .priority_info .attribute,
.overlay_content .assigned_users_info .attribute,
.overlay_content .subtasks_info .attribute {
    color: #42526E;
    width: 120px;
}

.overlay_content .due_date_info,
.overlay_content .priority_info{
    display: flex;
}

.overlay_content .edit_overlay_button_container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.overlay_content .edit_overlay_button_container .edit_overlay_button{
    display: flex;
    gap: 8px;
    padding: 0px 8px;
    cursor: pointer;
    color:#2A3647;
    background-color: transparent;
    border: none;
}

.overlay_content .edit_overlay_button_container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap:8px
}

.overlay_content .edit_overlay_button_container .seperator{
    border-right: 1px solid #A8A8A8;
}

.overlay_content .edit_overlay_button_container .edit_overlay_button p{
    font-size: 16px;
    font-weight: 400;
}

.overlay_content .priority_info .priority_content{
    display: flex;
    align-items: center;
    gap: 10px;
}

.overlay_content .priority_info .priority_content .priority_indicator{
    display: flex;
}

.overlay_content .assigned_users_info .assigned_users{
    margin-top: 8px
}

.overlay_content .assigned_users_info .assigned_users .assigned_user_content{
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 7px 16px;
}