@media (max-width: 1100px) {
    .board_menu {
        flex-direction: column;
    }

    .button_add_task {
        display: none;
    }

    .search_task {
        flex: 1;
    }

    .search_task input{
        flex: 1;
    }

    .add_task_res_btn {
        height: 28px;
        width: 28px;
        padding: 10px;
    }

    .h1_section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .board_controls {
        margin-right: 0px;
    }

    .repsonsive_add_task_button {
        display: block;
    }
}

@media (max-width: 767px) {
    .header-nav {
        padding-left: 48px;
    }
    
    .board_table {
        flex-direction: column;
        height: auto;
    }

    .column_content {
        display: flex;
        flex-direction: row;
        overflow-x: auto !important;
    }

    .board_column {
        width: 100%;
    }
}