.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
}

.overlay.show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.overlay_content {
    padding: 48px 40px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(200%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

    max-width: 500px;
    min-height: 600px;
    max-height: 900px;
    background-color: white;
    border-radius: 30px;
    z-index: 1000;

    font-family: "Inter_Bold";

    display: flex;
    gap: 24px;
    flex-direction: column;
}

.overlay_content.show {
    opacity: 1;
    transform: translateX(0);
}

.overlay_content .overlay_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay_content .overlay_header .category_overlay {
    font-size: 23px;
    font-weight: 400;
    color: white;
    background-color: #0038FF;
    font-family: "Inter";
    padding: 4px 24px;
    border-radius: 8px;
}

.overlay_content .overlay_header .close_overlay_button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0px;
}

.overlay_content p{
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}

.overlay_main_content{
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.overlay_main_content .due_date_info .attribute,
.overlay_main_content .priority_info .attribute,
.overlay_main_content .assigned_users_info .attribute,
.overlay_main_content .subtasks_info .attribute {
    color: #42526E;
    width: 120px;
}

.overlay_main_content .due_date_info,
.overlay_main_content .priority_info{
    display: flex;
}

.overlay_content .edit_overlay_button_container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.overlay_content .edit_overlay_button_container .edit_overlay_button{
    display: flex;
    gap: 8px;
    padding: 0px 8px;
    cursor: pointer;
    color:#2A3647;
    background-color: transparent;
    border: none;
}

.overlay_content .edit_overlay_button_container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap:8px
}

.overlay_content .edit_overlay_button_container .seperator{
    border-right: 1px solid #A8A8A8;
}

.overlay_content .edit_overlay_button_container .edit_overlay_button p{
    font-size: 16px;
    font-weight: 400;
}

.overlay_main_content .priority_info .priority_content{
    display: flex;
    align-items: center;
    gap: 10px;
}

.overlay_main_content .priority_info .priority_content .priority_indicator{
    display: flex;
}

.overlay_main_content .assigned_users_info .assigned_users{
    margin-top: 8px
}

.overlay_main_content .assigned_users_info .assigned_users .assigned_user_content{
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 7px 16px;
}

.overlay_main_content .subtasks_info .subtasks_list{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.overlay_main_content .subtasks_info .subtasks_list .subtask_list_item{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 6px 16px;
}

.overlay_main_content .subtasks_info .subtasks_list .subtask_list_item p{
    font-size: 16px;
    font-weight: 400;
}

.overlay_main_content .subtasks_info .subtasks_list .subtask_list_item .subtask_checkbox_custom{
    width:20px;
    height:20px;
    border:unset;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}