.board_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1400px;
}

.board_menu{
    display: flex;
    height: 232px;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter_bold";
    margin-right: 24px;
}

.board_controls{
    display: flex;
    justify-content: space-between; /* geändert von center zu space-between */
    gap: 32px;
}

.table_header{
    display: flex;
    gap: 16px;
}

.column_title{
    font-size: 20px;
    font-weight: 700;
    color: #42526E
}

.column_header{
    display: flex;
    align-items: center;
    width: calc(100% / 4);
    justify-content: space-between;
}

h1{
    font-size: 61px;
    font-weight: 700;
}

.search_task{
    border: 1px solid;
    border-color: #A8A8A8;
    border-radius: 10px;
    padding: 8px 16px;
    display: flex;
    gap: 10px;
    background-color: white;
}

.search_task:has(input:focus) {
    border-color: #29ABE2;
}

.search_task input{
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    width: 200px;
    font-family: "Inter";
    border-right: 1px solid #A8A8A8;
}

.search_task input::placeholder {
    color: #D1D1D1;
}

.search_task button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button_add_task{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2A3647;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
    color:white;
    font-family: "Inter_bold";
    font-size: 21px;
}

.button_add_task:hover{
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.table_header .column_header button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.board_table{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    width: 100%;
    gap: 16px;
}

.board_table .column_content{
    background-color: #f0f2f3;
    min-height: 500px;
    width: calc(100% / 4);
    margin-top: 4px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.no_task_yet{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    color: #A8A8A8;
    font-size: 16px;
    font-family: "Inter";
    border: 1px dashed #A8A8A8;
    background-color: #E7E7E7;
    border-radius: 10px;
}

/* .subtask_status_bar styles */
.subtask_status_bar {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 8px;
}

.subtask_status_bar_bg {
    width: 120px;
    height: 8px;
    background: #d1d1d1;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.subtask_status_bar_fill {
    height: 100%;
    background: #29ABE2;
    border-radius: 4px 0 0 4px;
    transition: width 0.3s;
}
.subtask_status_bar_text {
    font-size: 14px;
    color: #42526E;
}