@media (max-width: 767px) {
    .contact-display {
        display: none;
    }

    .sidebar-contacts {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        max-height: 100vh;
    }

    .add-contact-btn {
        width: 53px;
        border-radius: 50%;
        font-size: 0;
        padding: 10px;
        justify-content: center;
        bottom: 100px;
        left: 630px;
        margin-right: 12px;
    }

    .add-contact-btn-img {
        margin-left: -7px;
    }

    .contact-list{
        padding: 17px 4%;
    }

    .single-letter{
        padding: 17px 4%;
    }

    .list-user{
        padding-left: 4%;
    }
}


