.contact-main {
    display: flex;
    max-width: 1440px;
    background-color: #F6F7F8;
    height: 100%;
}

.sidebar-contacts {
    overflow-y: scroll;
    background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    width: 33%;
    z-index: 20;
    height: calc(100vh - 96px);
}

.contact-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 17px 36px;
    gap: 8px;
}

.contact-list-header {
    flex: none;
    order: 1;
    flex-grow: 0;
}

.add-contact-btn {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 8px 80px !important;
    margin-right: auto;
    margin-left: auto;
    gap: 10px;
    cursor: pointer;
    color: white;
    font-family: "Inter_bold";
    font-size: 21px;
    background-color: #2A3647;
    border: none;
    border-radius: 10px;
    position: sticky;
    top: 0px;
}

.add-contact-btn:hover{
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.separator-list {
    margin-top: 1px;
    margin-bottom: 1px;
    height: 1px;
    border-radius: 3px;
    background-color: #D1D1D1;
}

.single-letter {
    margin: 8px;
    padding: 17px 36px;
}

.single-letter-section {
    align-self: stretch;
}

.contact-display {
    width: 66%;
    margin-left: 80px;
    margin-top: 110px;
}

.contact-header {
    display: flex;
    align-items: center;
}

.separator-vertical {
    width: 3px;
    background-color: #29ABE2;
    height: 59px;
    border-radius: 3px;
    margin: 0px 30px;
}

.contact-sub {
    font-weight: 400;
    font-size: 27px;
}

.contact-main-view {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.main-name {
    display: flex;
    flex-direction: row;
    gap: 54px;
    margin-bottom: 10px;
    align-items: center;
    margin-left: 7px;
}

.two-letter-name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border: 3px solid #FFFFFF;
    color: white;
    border-radius: 70px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    width: 120px;
    height: 120px;
}

.name-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fullname {
    font-weight: 500;
    font-size: 47px;
}

.main-name-btns {
    display: flex;
    gap: 13px;
}

.name-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    gap: 8px;
}

.font-size-16 {
    font-weight: 400;
    font-size: 16px;
}

.sub-header-information {
    margin-top: 54px;
    margin-bottom: 54px;
}

.info-text {
    font-weight: 700;
    font-size: 16px;
}

.info-display {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
    gap: 15px;
}

.list-user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15px;
    padding-left: 36px;
    cursor: pointer;
    gap: 35px;
}

.two-letter-name-small {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 45px;
    width: 42px;
    height: 42px;
}

.list-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.color-mail {
    color: #007CEE;
    cursor: pointer;
}

.font-size-20 {
    font-weight: 400;
    font-size: 20px;
}

.single-User {
    display: flex;
    gap: 35px;
}

#editUser:hover {
    font-family: "Inter_bold";
    color: #29ABE2;
}

#deleteUser:hover {
    font-family: "Inter_bold";
    color: #29ABE2;
}

#editUser::before {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../assets/icons/contacts/edit.svg") center / contain no-repeat;
}

#deleteUser::before {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../assets/icons/contacts/delete.svg") center / contain no-repeat;
}

#deleteUser:hover::before {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../assets/icons/board/delete_button_hover.svg") center / contain no-repeat;
}

#editUser:hover::before {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../assets/icons/board/edit_button_hover.svg") center / contain no-repeat;
}

