@media (max-width: 767px) {
    .contact-display {
        display: none;
    }

    .sidebar-contacts {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        max-height: 100vh;
    }

    .add-contact-btn {
        width: 53px;
        border-radius: 50%;
        font-size: 0;
        padding: 10px;
        justify-content: center;
        bottom: 100px;
        left: 630px;
        margin-right: 12px;
    }

    .add-contact-btn-img {
        margin-left: -7px;
    }

    .contact-list {
        padding: 17px 4%;
    }

    .single-letter {
        padding: 17px 4%;
    }

    .list-user {
        padding-left: 4%;
    }

    .dialog-window {
        padding: 0;
    }

    .dialog-content {
        flex-direction: column;
        min-width: 0;
        height: auto;

        margin: 80px 4%;

    }

    .logo-dialog {
        display: none;
    }

    .cancel-add-btn {
        display: none;
    }

    .main-left {
        padding: 98px 40px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
        padding-left: 4%;
        padding-right: 4%;
    }

    .main-left-edit-dialog{

    }

    .main-right {
        flex-direction: column;
        border-top-right-radius: 0;
        border-bottom-left-radius: 30px;
        min-width: 0;
        padding-left: 4%;
        padding-right: 4%;
    }

    .create-contact-btn {
        margin-top: 12px;
    }

    .position {
        margin: 0;
        position: fixed;
        top: 35%;
        left: 50%;
        translate: -50%;
    }

    .close-btn {
        position: fixed;
        top: 1%;
        left: 92%;
        translate: -50%;
    }

    .add-contact-info {
        min-width: 0;
        margin-top: 80px;
        gap: 28px;

    }

    .label-responsiv {
        padding: 12px 3px !important;
    }

    .button-section-contact {
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 35px;
    }

    .contact-sub {
        font-size: 18px;
    }

    .name::after {
        margin-left: -18px;
    }

    .mail::after {
        margin-left: -18px;
    }

    .phone::after {
        margin-left: -18px;
    }

    .two-letter-name {
        width: 100px;
        height: 100px;
    }

    
}