.help-header{
    display: flex;
    justify-content: space-between;
}

.contact-display a{
    color:#29ABE2;
}

.help-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ol ::marker{
    font-size: 20px;
    font-weight: bold;
}