@font-face {
    font-family: "Inter";
    src: url(../assets/fonts/inter/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: "Inter_bold";
    src: url(../assets/fonts/inter/Inter_18pt-Bold.ttf);
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2A3647;
    min-height: 100vh;
    z-index: 30;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    min-width: 232px;
}

.body {
    display: flex;
    font-family: "Inter";
}

article{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-nav .active{
    background-color: #091931;
}

.sidebar-nav a:hover{
    transform: translate(0.5px, -0.5px);
    margin-right: 1px;
    background-color: #2A3D59;
}

.sidebar_upper_section{
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.sidebar-nav-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding: 8px 56px;
    gap: 10px;
}

.nav-icons {
    height: 30px;
    aspect-ratio: 1;
}

.logo {
    width: 100px;
    margin-top: 64px;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
    gap: 8px;
}

.sidebar-footer a {
    color: #A8A8A8;
    padding: 8px;
}

.sidebar-footer a:hover {
    color: #29ABE2;
    font-weight: 600;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .2);
    z-index: 20;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    padding: 20px 40px 20px 116px;
    max-width: 1440px;
}

.header-side-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    line-height: 0;
}

.logo-section {
    display: flex;
    justify-content: center
}

.main-content {
    position: relative;
    top: 0;
    left: 0;
    max-width: 1440px;
    padding: 0px 64px;
    background-color: #F6F7F8;
    height: 100%;
}

.current-selection {
    background-color: #091931;
}

.content-wrapper {
    max-width: 1440px;  
    width: 100%;
    min-height: 100vh;
    display: flex;       
    background: #f6f7f8;
}
