.signup-button-primary {
    height: 48px;
    border-radius: 8px;
    font-family: Inter, sans-serif;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
    background-color: #2A3647;
    color: #FFFFFF;
    border: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.signup-button-primary:hover:not(:disabled) {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Button deaktiviert */
.signup-button-primary:disabled {
    background-color: #A8A8A8;
    cursor: not-allowed;
    box-shadow: none;
}

.back-arrow {
    position: absolute;
    top: 70px;   
    left: 50px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.back-arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    width: 12px;
    height: 12px;
    border-left: 3px solid #29ABE2;
    border-bottom: 3px solid #29ABE2;
    transform: translateY(-50%) rotate(45deg);
}

.back-arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 4px; 
    width: 22px;  
    height: 0;
    border-top: 3px solid #29ABE2;

    transform: translateY(-50%);
}