dialog[open] {
   display: flex;
   z-index: 31;
   justify-content: center;
   align-items: center;
}

.dialog-content.show-side {
   transform: translateX(0);
}

.dialog-content.show-bottom {
   transform: translateY(0);
}

.dialog-window {
   position: fixed;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   border: none;
}

.dialog-content {
   margin: auto;
   display: flex;
   min-width: 950px;
   width: 1200px;
   min-height: 500px;
   transition: transform 1s ease-in-out;
}

.main-left {
   background-color: #2A3647;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   align-content: center;
   padding-left: 30px;
   padding-right: 30px;
}

.logo-dialog {
   height: 66px;
   width: 55px;
   margin-bottom: 12px;
}

.main-right {
   flex: 1;
   background-color: white;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   display: flex;
   padding-right: 30px;
   padding-bottom: 30px;
   padding-top: 30px;
   min-width: fit-content;
}

.white {
   color: white;
}

.margin {
   margin-bottom: 12px;
}

.separator-horizontal {
   width: 90px;
   background-color: #29ABE2;
   height: 3px;
   border-radius: 3px;
}

.name::after {
   content: "";
   min-width: 24px;
   width: 24px;
   background: url("../../assets/icons/contacts/person.svg") center / contain no-repeat;
}

.mail::after {
   content: "";
   min-width: 24px;
   width: 24px;
   background: url("../../assets/icons/contacts/mail.svg") center / contain no-repeat;
}

.phone::after {
   content: "";
   min-width: 24px;
   width: 24px;
   background: url("../../assets/icons/contacts/call.svg") center / contain no-repeat;
}

.add-contact-info {
   display: flex;
   flex-direction: column;
   gap: 32px;
   min-width: 524px;
}

.close-btn {
   background-color: transparent;
   border: none;
   cursor: pointer;
   display: flex;
   justify-content: flex-end;
   align-content: center;
   margin-bottom: 16px;
}

.icon-close:hover {
   background-color: #E7E7E7;
   border-radius: 12px;
}

.icon-close {
   width: 24px;
   height: 24px;
}

.button-section-contact {
   display: flex;
   gap: 16px;
}

.dialog-window-message {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.dialog-message {
   position: sticky;
   top: 90%;
   left: calc(50% - 120px/2);
   height: 10px; 
   align-items: center;
   background-color: #2A3647;
   border: none;
   display: flex;
   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
   border-radius: 20px;
   padding: 20px;
   transition: transform 1.2s ease-in-out;
}

.dialog-message.show {
   transform: translateX(0);
}

.margin-add-dialog {
   margin-top: -30px;
   height: 0px;
}

.cancel-add-btn ::after {
   content: "";
   width: 24px;
   height: 24px;
   background: url("../../assets/icons/contacts/close.svg") center / contain no-repeat;
}

.cancel-add-btn :hover::after {
   content: "";
   width: 24px;
   height: 24px;
   background: url("../../assets/icons/contacts/close_hover.svg") center / contain no-repeat;
}

.cancel-add-btn :hover {
   border-color: #29ABE2;
   color: #29ABE2;
}

.cancel-add-btn img:hover {
   fill: #29ABE2;
}

.cancel-edit-btn ::after {
   content: "";
   width: 24px;
   height: 24px;
   background: url("../../assets/icons/contacts/close.svg") center / contain no-repeat;
}

.cancel-edit-btn :hover::after {
   content: "";
   width: 24px;
   height: 24px;
   background: url("../../assets/icons/contacts/close_hover.svg") center / contain no-repeat;
}

.cancel-edit-btn :hover {
   border-color: #29ABE2;
   color: #29ABE2;
}

.cancel-edit-btn img:hover {
   fill: #29ABE2;
}

