@media (max-width: 1455px) {
    .contact-display {
        margin-left: 25px;
        margin-top: 110px;
    }

    .h1 {
        font-size: 50px;
    }

    .fullname {
        font-size: 30px;
    }

    .separator-vertical {
        margin: 0px 15px;
    }

    .contact-sub {
        font-weight: 400;
        font-size: 24px;
    }

    .two-letter-name {
        min-width: 100px;
        height: 100px;
        max-width: 100px;
    }
}

@media (min-width: 1150px) {
    #responsivMenu {
        display: none;
    }
}

@media (max-width: 1250px) {
    .dialog-content {
        width: 1105px;
    }
}

@media (max-width: 1150px) {
    .contact-display {
        display: none;
        margin-left: 16px;
        margin-top: 48px;
    }

    .position-two-letter {
        margin: -85px auto 5px auto;
        z-index: 1;
    }

    .cancel-add-btn {
        display: none;
    }

    .contact-main {
        min-width: 320px;
    }

    .sidebar-contacts {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        max-height: 100vh;
        min-width: 302px;
    }

    .add-contact-btn-position {
        bottom: 40px;
        margin-left: auto;
    }

    .add-contact-btn {
        width: 53px;
        border-radius: 50%;
        font-size: 0;
        padding: 10px;
        justify-content: center;
    }

    .add-contact-btn-img {
        margin-left: -7px;
    }

    .contact-list {
        padding: 17px 4%;
    }

    .dialog-window {
        padding: 0;
    }

    .dialog-content {
        flex-direction: column;
        min-width: 0;
        height: fit-content;
        margin: 95px 4%;
    }

    .logo-dialog {
        display: none;
    }

    .main-left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 12px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
        position: relative;
    }

    .main-right {
        flex-direction: column;
        border-top-right-radius: 0;
        border-bottom-left-radius: 30px;
        min-width: 0;
        padding-left: 2%;
        padding-right: 2%;
    }

    .main-left-title {
        padding: 125px 0 125px 0;
    }

    .create-contact-btn {
        margin-top: 12px;
    }

    .subtask-section {
        padding: 10px 10px;
    }

    .main-left .close-btn {
        position: relative;
        top: 24px;
        right: 0;
        margin-bottom: 0;
        display: flex;
        padding: 0;
    }

    .main-right .close-btn {
        display: none;
    }

    .add-contact-info {
        min-width: 0;
        margin-top: 25px;
        gap: 28px;
    }

    .label-responsiv {
        padding: 12px 3px !important;
    }

    .button-section-contact {
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 35px;
    }

    .contact-sub {
        font-size: 18px;
    }

    .name::after {
        margin-left: -18px;
    }

    .mail::after {
        margin-left: -18px;
    }

    .phone::after {
        margin-left: -18px;
    }

    .contact-header-text {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .separator-vertical {
        border-radius: 3px;
        margin: 0px 0px;
        width: 90px;
        height: 3px;
        order: 3;
    }

    .h1 {
        font-size: 47px;
    }

    .main-name {
        gap: 20px;
        margin-left: 0px;
    }

    .fullname {
        font-size: 30px;
    }

    .sub-header-information {
        margin-top: 20px;
        margin-bottom: 20px;
    }



    .sub-menu-btns {
        right: 40px;
    }

    .dialog-message {
        position: sticky;
        top: 80%;
        left: 50%;
        translate: -50%;
    }

    .user-active {
        background-color: #FFFFFF;
        color: black;
    }

    .user-active:hover {
        background-color: rgba(84, 87, 84, 0.1);
        color: black;
    }
}

@media (max-width: 1149px) {
    .go-back-btn {
        display: flex;
    }

    .sub-menu-btn {
        display: flex;
    }

    .main-name-btns {
        display: none;
    }
}

@media (max-width: 767px) {
    .contact-main {
        height: calc(100vh - 168px);
    }

    .sidebar-contacts {
        height: calc(100vh - 150px);
        z-index: 19;
    }
}

@media (max-width: 596px) {
    .sub-menu-btns {
        right: 7%;
    }

    .dialog-message {
        top: 76%;
    }
}

@media (max-width: 560px) {
    .dialog-message {
        translate: -11%;
    }

    h1 {
        font-size: 40px;
    }
}

@media (max-width: 470px) {
    .sub-menu-btns {
        right: 8%;
    }

    .truncate {
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 400px) {
    .main-name {
        gap: 10px;
    }

    .fullname {
        font-size: 23px;
    }

    .sub-menu-btns {
        margin-right: 6px;
    }

    .dialog-content {
        margin: 14px 4%;
    }

    .contact-display {
        margin-left: 16px;
        margin-top: 25px;
    }

    .main-right {
        flex: none;
        padding-bottom: 21px;
        padding-top: 24px;
    }

    .position-two-letter {
        margin: -48px auto 5px auto;
    }

    .add-contact-info {
        margin-top: 5px;
        gap: 37px;
    }

    .main-right {
        padding-top: 0px;
    }

    .subtask-section {
        padding: 6px 21px;
    }

    .gap-extra {
        gap: 40px !important;
    }

    .two-letter-name {
        min-width: 80px;
        height: 80px;
    }

    .label-responsiv {
        padding: 7px 3px !important;
    }
}

@media (max-width: 375px) and (max-height: 667px) {
    .dialog-content {
        width: 295px;
    }

    .main-left-title {
        padding: 36px 0 60px 0;
    }

    .sub-menu-btn {
        right: 5%;
    }

    .sub-menu-btns {
        margin-right: 56px;
    }

    .add-contact-btn-position {
        margin-left: 70%;
    }
}

@media (max-height: 880px) {
    .main-left-title {
        padding: 50px 0px;
    }

    .dialog-content {
        margin: 20px 4%;
    }

    .add-contact-info {
        gap: 28px;
    }
}