@media (max-width: 1150px) {
    .login-card {
        max-width: 600px;
    }
}

@media (max-width: 1050px) {
    .login-card {
        max-width: 500px;
    }
}

@media (max-width: 950px) {
    .login-card {
        max-width: 400px;
    }
    .login-logo {
        width: 72px;
    }
}

@media (min-width: 900px) and (max-width: 1100px) and (max-height: 650px) {
    .login-card {
        margin-top: 150px;  
    }

    .back-arrow {
        top: 60px;         
        left: 40px;        
    }
}

@media (max-width: 768px) {

    .login-card {
        width: 100%;
        max-width: 380px;
    }

    .signup-card.signup-card {
        margin-top: 40px;
    }

    .back-arrow.back-arrow {
        top: 240px;
        left: 180px;
    }
}

@media (max-width: 700px) {
    .back-arrow.back-arrow {
        top: 240px;
        left: 130px;
    }
}

@media (max-width: 620px) {
    .back-arrow.back-arrow {
        top: 240px;
        left: 100px;
    }
}

@media (max-width: 550px) {
    .back-arrow.back-arrow {
        top: 240px;
        left: 60px;
    }
}

@media (max-width: 500px) {
    .login-card {
        max-width: 320px;
        padding: 28px 28px;
    }

    .login-title {
        font-size: 47px;
    }

    .back-arrow.back-arrow {
        top: 210px;
        left: 60px;
    }

    .privacy-check {
        font-size: 14px;
        text-align: left;
    }
}

@media (max-width: 450px) {
    .login-logo {
        width: 60px;
    }
}

@media (max-width: 420px) {
    .signup-button-primary {
        width: 100%;
        font-size: 16px;
    }
    
    .privacy-check {
        font-size: 13px;
    }
}

@media (max-width: 400px) {
    .login-card {
        padding: 24px 24px;
        max-width: 280px;
    }

    .login-title {
        font-size: 43px;
    }
    
    .login-footer {
        margin-top: 40px;
        padding-bottom: 32px;
        display: flex;
        justify-content: center;
        gap: 16px;
        flex-wrap: wrap;
    }
    .back-arrow {
        top: 35px;
        left: 20px;
    }
}

@media (max-width: 365px) {
    .login-logo {
        width: 50px;
    }

}

@media (max-width: 350px) {
    .login-card {
        max-width: 250px;
    }
    .back-arrow.back-arrow {
        top: 205px;
        left: 40px;
    }
}