@media (max-width: 1400px) {
    .summary-title {
        font-size: 50px;
    }

    .summary-subtext {
        font-size: 22px;
    }

    .summary-content-layout {
        gap: 3%;
    }

    .greeting-text {
        font-size: 40px;
    }

    .greeting-name {
        font-size: 50px;
    }

    .summary-greeting-section {
        margin-top: 150px;
    }
}

@media (max-width: 1170px) {
    .main-content {
        padding: 0px 32px;
    }

    .summary-title {
        font-size: 42px;
    }

    .summary-subtext {
        font-size: 18px;
    }

    .greeting-text {
        font-size: 34px;
    }

    .greeting-name {
        font-size: 42px;
    }

    .summary-greeting-section {
        margin-top: 120px;
    }
}

@media (max-width: 1150px) {
    .main-content {
        padding: 0px 15px;
    }

    .summary-padding-top {
        padding-top: 60px;
    }

}

@media (max-width: 1025px) {
    .summary-greeting-section {
        display: none !important;
    }
}

@media (max-width: 800px) {
     .summary-cards-wrapper {
        max-width: 490px;
    }
}

@media (max-width: 767px) {
    .summary-padding-top {
        padding-top: 60px;
    }
}